#chef{
    width: 100%;
    height: auto;
    padding: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/chef/bg.png');
    .gallery-heading{
        font-size: 40px;
        color: $primary-color;
        text-transform: capitalize;
        font-weight: 600;
        font-family: $primary-font;
    }
    .gallery-description{
        font-size: 18px;
        color: $secondary-color;
        font-family: $secondary-font;
    }
    .main-wrapper{
        border: 7px solid $secondary-color;
        transition: ease-in-out .5s;

        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.45);
        .heading-bg{
            padding: 19px 0px 15px;
            text-align: center;
            transition: ease-in-out .5s;
            background-color: $primary-color;
            .icon-none{
                display: none;
            }
            .chef-name{
                font-size: 20px;
                margin: 0;
                color: $secondary-color;
                text-transform: uppercase;
                font-family: $secondary-font;
            }
        }
        &:hover{
            border: 7px solid $primary-color;
            transform: translateY(30px);
            .heading-bg{
                background-color: $secondary-color;
                .chef-name{
                    color: $primary-color;
                }
                .icon-none{
                    display: block;
                }
            }
           
        }
    }
    .icon-size{
        width: 11px;
        height: 16px;
        margin: 6px;
    }
    .owl-item{
        margin-bottom: 35px;
    }
    .owl-dots{
        text-align: center;
        margin-top: 20px;
        .active{
            background-color: $primary-color !important;
        }
    }
     .owl-carousel .owl-nav button.owl-next,
     .owl-carousel .owl-nav button.owl-prev, 
     .owl-carousel button.owl-dot{
         width: 80px;
         height: 12px;
         margin: 12px;
         background-color: $secondary-color;
         border: 3px solid $secondary-color;
        &:hover{
         background-color: $primary-color;
        }
     }
}

  