/*================================= 
Home Section Styling
=================================*/

#home {
	.main-banner-text {
		@include rfs(40px);
		color: $light-color;
		text-transform: capitalize;
		font-family: $primary-font;
		font-weight: 600;
	}
	.main-banner-desc {
		font-size: 18px;
		color: $light-color;
		font-weight: 400;
		font-family: $secondary-font;
	}
    .landing-image{
		width: 100%;
		background-size: cover !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	
	.content-setting {
		padding: 252px 0 193px 0;
	}
	.btn-reservation {
		@extend %btn-shared;
		background-color: transparent;
		transition: all 0.5s ease-in-out;
		&:hover {
			box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.3);
		}
	}
	.btn-dish {
		@extend %btn-shared;
		background-color: transparent;
		transition: all 0.5s ease-in-out;
		border: 2px solid $light-color;
		color: $primary-color;
		&:hover {
			box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.3);
		}
	}
	}
	.owl-carousel .owl-nav button.owl-next, 
	.owl-carousel .owl-nav button.owl-prev, 
	.owl-carousel button.owl-dot {
		
		border: none;
		display: block;
		padding: 0!important;
	}
	.right-arrow {
		position: absolute;
		right: 4%;
		z-index: 22;
		top: 50%;
		transform: translate(0, -50%);
		cursor: pointer;
	}
	.left-arrow {
		position: absolute;
		left: 4%;
		top: 50%;
		transform: translate(0, -50%);
		z-index: 22;
		cursor: pointer;
	}

}


	// CSS Animation Slider
	// .owl-item.active {
	// 	.item {
	// 		.main-banner-text {
	// 			animation-name: moveInUp;
	// 			animation-duration: 2s;
	// 			animation-delay: 0.5s;
	// 			animation-timing-function: ease;
	// 			animation-fill-mode: both;
	// 			backface-visibility: hidden;
	// 		}
	// 		.btn-menu {
	// 			animation-name: moveInUp;
	// 			animation-duration: 0.5s;
	// 			animation-delay: 2s;
	// 			animation-timing-function: ease;
	// 			animation-fill-mode: both;
	// 			backface-visibility: hidden;
	// 		}
	// 	}

	// 	// .item {
	// 	// 	.btn-menu {
	// 	// 		animation-duration: 2s;
	// 	// 		animation-delay: 1s;
	// 	// 	}
	// 	// }
	// }

	// @keyframes moveInUp {
	// 	0% {
	// 		opacity: 0;
	// 		transform: translate(0%, 100%);
	// 	}

	// 	100% {
	// 		opacity: 1;
	// 		transform: translate(0%, 0%);
	// 	}
	// }

