html,
body {
	margin: 0;
	padding: 0;
}

// variables
$primary-color: #ff8a4a;
$secondary-color: #383838;
$light-color: #ffffff;
$btn-bg-color: #ff9a66;
$dark-color: #141414;



$primary-font: 'Quicksand', sans-serif;;
$secondary-font: 'Josefin Sans', sans-serif;;

//@mixin
@mixin reset-link {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

@mixin flex-align {
	display: flex;
	justify-content: center;
	align-items: center;
}

%btn-shared {
	width: 146px;
	height: 50px;
	font-size: 16px;
	color: $light-color;
	text-transform: uppercase;
	font-family: $primary-font;
	background-color: $primary-color;
	border-radius: 0px;
	font-weight: 400;
	border: 2px solid $primary-color;
	box-shadow: 1px 1.732px 3px 0px rgba(0, 0, 0, 0.75);
}
 
.btn:focus {
	box-shadow: none;
}
